.artist-detail-container {
  padding-top: 2rem;
  
}

.artist-details {
  padding-left: 4rem;
  padding-right: 4rem;
}

.artist-detail-container img {
  width: 12rem;
  height: 12rem;
}

.artist-detail-container h1 {
  color: #EFD6AC;
  font-weight: bold;
  font-size: x-large;
}

.artist-detail-container hr {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  color: #EFD6AC;
}

.artist-detail-container .artist-name {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.album-p {
  color: #EFD6AC;
  font-weight: bold;
  padding-top: 0.4rem;
  padding-left: 2rem;
}