.navbar-container {
  padding: 0;
  background-color: #183A37;
  width: 100% !important;
  height: 2.5rem;
  color: #EFD6AC;
  font-weight: bold;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 1rem;
}

.navbar-home {
  align-self: center;
}

.navbar-libray {
  align-self: center;
}

.navbar-title {
  text-align: center;
  align-self: center;
  font-size: 1.4rem;
}

.navbar-user {
  text-align: right;
  align-self: center;
  justify-content: right;
  padding-right: 0.3rem;
}

.navbar-user-menu {
  text-align: right;
  background-color: #183A37;
  padding-right: 0.4rem;
}

.navbar-user-menu-items {
  padding-top: 0.1rem;
}