.music-player-container {
  background-color: #183A37;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 1rem;
}

.song-info {
  color: #EFD6AC;
}

.song-info img {
  width: 3.8rem;
  height: 3.8rem;
}

.song-details {
  padding-left: 0.5rem;
}

.player-container {
  margin-left: 2rem;
}

.music-player {
  margin-left: auto;
  margin-right: auto;
  background-color: #183A37;
}
