.album-container {
  padding-top: 0.4rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

.album-container p {
  padding-top: 0.5rem;
  color: #EFD6AC;
  font-weight: bold;
  text-align: center;
}

.album-image {
  justify-self: center;
}
